@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

.clear {
  clear: both; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

h2 {
  text-align: center; }

p {
  font-size: 16px;
  font-size: 1.6rem; }

img {
  max-width: 100%;
  box-sizing: border-box; }

/****************************************/
/* header */
/****************************************/
header {
  margin: 10px 0; }
  header #header_in {
    padding-top: 20px;
    padding-bottom: 4px; }
  header #sp_navi_btn { }
  header .sp_navi_li {
    position: absolute;
    top: 60px;
    right: 2%;
    margin: 0;
    padding: 0;
    z-index: 100; }
    header .sp_navi_li li {
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        color: #524c3e;
        display: block;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }
  header .pc_navi_li {
      display: none;
    margin: 20px 0 0;
    padding: 0;
    float: right; }
    header .pc_navi_li li {
      margin-left: 5px; }
  header .sp {
    display: none; }
  header .pc {
    display: block; }

/****************************************/
/* contants */
/****************************************/
#container {
  padding-top: 20px; }

#main {
  /****************************************/
  /* bunner */
  /****************************************/
  /****************************************/
  /* item_list */
  /****************************************/
  /* list_end */
  /****************************************/
  /* guide */
  /****************************************/ }
  #main #bunner img {
    margin-top: 0; }
  #main .list {
    /* four columns_end */ }
    #main .list .four.columns {
      margin: 0 0 0.4% 0.4%;
      width: 32.6666%;
      background-color: #fff; }
      #main .list .four.columns article {
        display: block;
        padding: 6%; }
        #main .list .four.columns article h3, #main .list .four.columns article p {
          font-size: 12px;
          letter-spacing: 0.1rem;
          line-height: 18px; }
    #main .list .four.columns:first-child {
      margin-left: 0; }
    #main .list .four.columns:nth-child(4) {
      margin-left: 0; }
  #main .guide {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px; }
    #main .guide .one-half.column {
      background-color: #fff;
      color: #887f69;
      display: block;
      width: 49%;
      margin-left: 1%;
      padding: 2%;
      float: left; }
      #main .guide .one-half.column h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 1rem; }
      #main .guide .one-half.column h4 {
        font-weight: bold;
        font-size: 12px;
        line-height: 2rem; }
      #main .guide .one-half.column p {
        color: #000;
        font-size: 12px;
        line-height: 18px; }
      #main .guide .one-half.column img {
        margin-bottom: 10px; }
    #main .guide .one-half.column:first-child {
      margin-left: 0; }

.sp {
  display: none; }

.pc {
  display: block; }

/****************************************/
/* sidebar */
/****************************************/
.three.columns {
  margin: 0 0 0.8% 0.8%;
  width: 24.8888%; }

#sidebar {
  float: left;
  padding-bottom: 20px; }
  #sidebar .pc_sidemenu {
    margin: 0 0 10px; }
    #sidebar .pc_sidemenu h3 {
      display: block;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
      background-color: #887f69;
      background-size: 8px 14px;
      background-repeat: no-repeat;
      background-position: 95% center;
      padding: 13px;
      margin-top: 0px;
      margin-bottom: 0px; }
    #sidebar .pc_sidemenu input[type="checkbox"].toggle_button {
      appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 100%;
      height: 45px;
      font-weight: bold;
      background-color: #887f69;
      background-image: url("../images/top/pagelink.png"), url("../images/top/next_icon.png");
      background-size: 74px 12px, 8px 14px;
      background-repeat: no-repeat;
      background-position: 13px center, 95% center;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 0; }
    #sidebar .pc_sidemenu input[type="checkbox"].toggle_button:checked {
      appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 100%;
      height: 45px;
      font-weight: bold;
      background-color: #887f69;
      background-image: url("../images/top/pagelink.png"), url("../images/top/down_icon.png");
      background-size: 74px 12px, 14px 8px;
      background-repeat: no-repeat;
      background-position: 13px center, 95% center;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 0; }
    #sidebar .pc_sidemenu input[type="checkbox"].toggle_button2 {
      appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 100%;
      height: 45px;
      font-weight: bold;
      background-color: #887f69;
      background-image: url("../images/top/categories.png"), url("../images/top/down_icon.png");
      background-size: 83px 9px, 14px 8px;
      background-repeat: no-repeat;
      background-position: 13px center, 95% center;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 0; }
    #sidebar .pc_sidemenu input[type="checkbox"].toggle_button2:checked {
      appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 100%;
      height: 45px;
      font-weight: bold;
      background-color: #887f69;
      background-image: url("../images/top/categories.png"), url("../images/top/next_icon.png");
      background-size: 83px 9px, 8px 14px;
      background-repeat: no-repeat;
      background-position: 13px center, 95% center;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 0; }
    #sidebar .pc_sidemenu li {
      list-style: none;
      display: block;
      margin-bottom: 1px;
      padding: 13px 15px;
      background-color: #fff;
      background-image: url("../images/top/next_icon_gray.png");
      background-size: 8px 14px;
      background-repeat: no-repeat;
      background-position: 95% center; }
      #sidebar .pc_sidemenu li a {
        font-size: 12px;
        display: block;
        color: #000;
        text-decoration: none; }
      #sidebar .pc_sidemenu li a:hover {
        color: #887f69; }

#serachbox {
  background-color: #fff;
  padding: 15px 15px 0; }
  #serachbox img {
    position: relative;
    margin: 10px 0; }
  #serachbox #searchform {
    position: relative;
    bottom: 5px;
    margin-bottom: 10px; }
  #serachbox #keywords {
    border-radius: 0;
    width: 100%;
    height: 30px;
    background-color: #eee;
    border: none;
    padding: 5px;
    color: #FFF;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.1ex; }
  #serachbox #searchBtn {
    position: absolute;
    background-color: #eee;
    display: block;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 6px;
    _top: 1px; }
  #serachbox *:first-child + html #searchBtn {
    top: 1px; }

#link_page {
  margin: 0 0 10px; }

#categories {
  margin: 0 0 10px; }

#about, #shopinfo {
  background-color: #fff; }
  #about p, #shopinfo p {
    float: left;
    font-size: 12px;
    width: 46%;
    text-align: justify;
    margin: 10px 10px 0 0; }

.side_img {
  display: block;
  margin: 10px 10px 0;
  padding: 0 0 10px 0;
  float: left;
  width: 45%;
  height: auto; }

.more {
  display: block;
  margin: 10px auto; }
  .more img {
    width: 101px;
    height: 29px; }

/****************************************/
/* footer */
/****************************************/
footer .pagetop {
  text-align: right; }
footer hr {
  border-color: #524c3e; }
footer .foot_navi {
  display: table;
  margin: auto;
  text-align: center; }
  footer .foot_navi li {
    list-style: none;
    display: inline-block; }
  footer .foot_navi a {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    padding: 20px;
    text-decoration: none; }
  footer .foot_navi a:hover {
    color: #887f69; }
footer .copy {
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.2ex;
  color: #b8b4ac; }

/****************************************/
/* responsive_movile */
/****************************************/
@media screen and (max-width: 550px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

  /****************************************/
  /* header */
  /****************************************/
  header .logo {
    display: block;
    margin: 0 auto; }
  header #header_in {
    padding: 15px 0 10px 0; }
  header #sp_navi_btn {
    display: block; }
  header .sp_navi_li {
    position: absolute;
    top: 60px;
    right: 2%;
    margin: 0;
    padding: 0;
    display: relative;
    z-index: 100; }
    header .sp_navi_li li {
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        color: #524c3e;
        display: block;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }
  header .pc_navi {
    display: none; }

  #main {
    /****************************************/
    /* guide */
    /****************************************/ }
    #main .list .four.columns {
      margin: 0 0 2% 2%;
      width: 48%; }
      #main .list .four.columns article {
        display: block;
        padding: 10px 10px 0; }
        #main .list .four.columns article h3, #main .list .four.columns article p {
          font-size: 12px;
          letter-spacing: 0.1rem;
          line-height: 14px; }
    #main .list .four.columns:first-child {
      margin-left: 0; }
    #main .list .four.columns:nth-child(3) {
      margin-left: 0; }
    #main .list .four.columns:nth-child(4) {
      margin-left: 2%; }
    #main .list .four.columns:nth-child(5) {
      margin-left: 0; }
    #main .sp {
      display: block; }
    #main .pc {
      display: none; }
    #main .guide {
      display: block;
      margin-bottom: 20px; }
      #main .guide .one-half.column {
        background-color: #fff;
        color: #887f69;
        display: block;
        width: 100%;
        padding: 15px 15px 0;
        float: left;
        margin: 0 0 20px 0; }
        #main .guide .one-half.column h3 {
          font-weight: bold;
          font-size: 16px;
          line-height: 1em; }
        #main .guide .one-half.column h4 {
          font-weight: bold;
          font-size: 12px;
          line-height: 1em; }
        #main .guide .one-half.column p {
          color: #000;
          font-size: 12px;
          line-height: 18px; }
        #main .guide .one-half.column img {
          margin-bottom: 5px; }

  /****************************************/
  /* sidebar */
  /****************************************/
  #sidebar {
    width: 100%;
    margin-left: 0; }
    #sidebar #serachbox img {
      display: none; }
    #sidebar #serachbox #searchform {
      position: relative;
      bottom: 0;
      padding: 5px;
      margin: 10px 0; }
    #sidebar #serachbox #keywords {
      border-radius: 0;
      width: 100%;
      height: 30px;
      background-color: #eee;
      border: none;
      padding: 10px;
      color: #FFF;
      font-size: 12px;
      font-style: italic;
      letter-spacing: 0.1ex; }
    #sidebar #serachbox #searchBtn {
      position: absolute;
      background-color: #eee;
      display: block;
      width: 16px;
      height: 16px;
      top: 16px;
      right: 20px;
      _top: 1px; }
    #sidebar #serachbox *:first-child + html #searchBtn {
      top: 1px; }
    #sidebar #serachbox #about, #sidebar #serachbox #shopinfo {
      background-color: #fff;
      padding: 0 0 10;
      overflow: hidden; }
      #sidebar #serachbox #about img, #sidebar #serachbox #shopinfo img {
        max-width: 50%; }
      #sidebar #serachbox #about p, #sidebar #serachbox #shopinfo p {
        font-size: 12px;
        width: 50%;
        text-align: justify;
        margin: 0 auto; }
    #sidebar #serachbox .u-max-full-width {
      width: 44%;
      margin-left: 2%; }
    #sidebar #serachbox .side_img {
      display: block;
      margin: 10px;
      float: left;
      height: auto; }
    #sidebar #serachbox .sb_c {
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;
      float: left;
      width: 48%;
      height: auto;
      padding-left: 2%; }
    #sidebar #serachbox .more {
      display: block;
      margin: 10px auto; }
      #sidebar #serachbox .more img {
        max-width: 101px;
        box-sizing: border-box; }

  /****************************************/
  /* footer */
  /****************************************/
  footer .pagetop {
    text-align: center; }
  footer hr {
    border-color: #887f69;
    margin: 15px 0; }
  footer .foot_navi {
    display: table;
    margin: auto;
    text-align: center; }
    footer .foot_navi li {
      list-style: none;
      display: inline-block; }
    footer .foot_navi a {
      color: #000;
      font-size: 12px;
      line-height: 18px;
      padding: 10px;
      text-decoration: none; }
    footer .foot_navi a:hover {
      color: #887f69; }
  footer .copy {
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.2ex;
    color: #b8b4ac; } }
/****************************************/
/* スライドショー */
/****************************************/
#display_img img {
  width: 200px; }

li {
  list-style: none;
  display: inline-block; }
  li img {
    cursor: pointer; }

/* どんな時でも親BOXの幅いっぱいまで画像を配置 */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* 画像サイズ以下のカラムサイズになった場合のみ縮小 */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/****************************************/
/* ハンバーガーメニュー */
/****************************************/
#menu, .sb_menu, .sb_menu2 {
  cursor: pointer; }

.sp_menu_toggle, .menu_toggle {
  display: none; }
  
/****************************************/
/* catousel */
/****************************************/

.owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 2px;
    margin: 0 10px 5px 0px;
    background: #aaa;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #9d1a2d;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: left;
}

.owl-carusel-item {
  display: block;
  width: 100%;
  height: auto;
}
  
/****************************************/
/* list.html */
/****************************************/
/****************************************/
/* breadcrumb */
/****************************************/
#breadcrumb {
  background-color: #e8e4da;
  margin: 0 0 10px;
  padding: 8px;
  height: 30px; }
  #breadcrumb img {
    float: left;
    margin-right: 8px; }
  #breadcrumb p {
    font-size: 9px;
    color: #887f69;
    float: left;
    line-height: 12px; }
  #breadcrumb a {
    text-decoration: none;
    color: #887f69; }
  #breadcrumb a:hover {
    color: #c1b494; }

.bunner {
  margin: 0 0 10px;
  padding: 0; }
  .bunner .img {
    display: block;
    position: relative;
    top: 0px;
    bottom: 10px; }

/****************************************/
/* back or next btn */
/****************************************/
#backnext {
  margin-top: 10px; }
  #backnext .btn {
    display: block;
    width: 80px;
    height: 30px;
    padding: 10px 10px 0;
    text-align: center;
    background-color: #887f69;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px; }
  #backnext .back {
    float: left; }
  #backnext .next {
    float: right; }
    
/****************************************/
/* products.html */
/****************************************/
#breadcrumb2 {
  background-color: #e8e4da;
  margin: 0;
  margin-bottom: 10px;
  padding: 8px;
  height: 14px; }
  #breadcrumb2 img {
    float: left;
    margin-right: 8px; }
  #breadcrumb2 p {
    font-size: 9px;
    color: #887f69;
    float: left;
    line-height: 12px; }
  #breadcrumb2 a {
    text-decoration: none;
    color: #887f69; }
  #breadcrumb2 a:hover {
    color: #c1b494; }
    
/****************************************/
/* items */
/****************************************/
#items {
  background-color: #fff;
  padding: 30px 5%;
  margin: 0;
  width: 90%;
  /****************************************/
  /* price */
  /****************************************/
  /****************************************/
  /* text */
  /****************************************/ }
  #items h3 {
    margin-bottom: 10px; }
  #items #slideshow {
    margin-bottom: 10px; }
  #items #display_img {
    display: inline-block;
    float: none;
    width: 100%; }
    #items #display_img img {
      width: 100%;
      height: auto; }
  #items #list_img {
    margin-left: 0;
    width: 100%;
    display: inline-block; }
  #items ul li:nth-of-type(1n) {
    width: calc(93.5555%/5);
    float: none;
    margin-bottom: 0;
    padding: 0; }
    #items ul l:after {
      display: block;
      clear: both;
      content: ""; }
    #items ul li:nth-of-type(1n) img {
      padding-left: 0; }
  #items .title {
    height: 40px; }
    #items .title h3 {
      display: block;
      float: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 12px;
      letter-spacing: 0.1em; }
    #items .title h4 {
      display: block;
      float: none;
      font-size: 10px;
      line-height: 18px;
      color: #a6a6a6;
      letter-spacing: 0.1em; }
  #items .boxcolor {
    width: 100%; }
    #items .boxcolor tr td {
      float: left;
      padding: 10px 0;
      border: 1px solid #e8e4da;
      width: calc(97.6666%/3);
      height: 15px;
      font-size: 12px;
      color: #887f69;
      text-align: center;
      line-height: 15px; }
    #items .boxcolor tr td:first-child {
      background-color: #f9f9f5; }
    #items .boxcolor .headertable {
      color: #887f69;
      text-align: center;
      line-height: 20px;
      background-color: #f9f9f5; }
      #items .boxcolor .headertable p {
        font-size: 12px; }
  #items hr {
    display: block;
    color: #e3e8cf;
    border-color: #e3e8cf;
    margin: 0 auto 20px; }
  #items .hrmargin {
    margin-top: -20px; }
  #items #price {
    display: block;
    margin-bottom: -20px; }
  #items .pricetable {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 0; }
    #items .pricetable .price {
      width: 100%;
      height: 50px;
      padding: 10px 0 10px 5px;
      border-top: 1px solid #e8e4da;
      display: inline-block; }
      #items .pricetable .price img {
        margin-top: 20px; }
      #items .pricetable .price p {
        position: relative;
        left: 40%;
        bottom: 20px;
        color: #f00;
        font-style: italic;
        font-size: 14px;
        line-height: 24px; }
        #items .pricetable .price p span {
          font-size: 22px; }
        #items .pricetable .price p .black {
          font-size: 14px;
          color: #000; }
          #items .pricetable .price form {
            height: 0;
          }
      #items .pricetable .price textarea {
        position: relative;
        left: 40%;
        bottom: 40px;
        border-color: #e8e4da;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 10px 0;
        resize: none;
        width: 50%;
        height: 5px;
        line-height: 1.5em; }
    #items .pricetable .price:last-child {
      border-bottom: 1px solid #e8e4da; }
  #items .cart {
    display: block;
    margin-left: 15%;
    margin-bottom: 15px;
    display: inline-block;
    float: none;
    width: 70%;
    height: 80px; }
    #items .cart img {
      position: relative;
      bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
  #items .text {
    display: block;
    width: 100%; }
    #items .text .hrblack {
      margin: 10px 0;
      border-color: #000; }
    #items .text h3 {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      text-align: left;
      color: #887f69; }
    #items .text .texth3 {
      position: relative;
      right: 0; }
    #items .text p {
      font-size: 14px;
      line-height: 24px; }
  #items .boxcolor2 {
    width: 100%; }
    #items .boxcolor2 tr td {
      padding: 10px 2%;
      border: 1px solid #e8e4da;
      width: 68%;
      height: 10px;
      color: #887f69;
      line-height: 20px; }
      #items .boxcolor2 tr td p {
        font-size: 12px;
        line-height: 24px;
        margin: 0; }
    #items .boxcolor2 tr td:first-child {
      background-color: #f9f9f5;
      width: 28%;
      text-align: center; }
      
      
      header #header_in .row .logo {
                display: block;
                width: 100%;
            }
                
            header #header_in .row .logo p {
                text-align: center;
                margin-bottom: 10px;
            }
            
            header #header_in .row .sp_navi {
                text-align: center;
                margin: 0 auto;
            }
            
            header #header_in .row #menu, .spsns {
                margin: 0 10px;
                display: inline-block;
            }

/*# sourceMappingURL=style.css.map */

